<div class="container">
    <div [ngClass]="{normalFilters: filtersOn, reduceFilters: !filtersOn}"  class="filter">
        <button class="button" (click)="filtersOn = !filtersOn" (click)="changeText()">{{filtersHideText}}</button>
        <div [ngClass]="{show: filtersOn, hide: !filtersOn}">
        <h3 class="titleCategory">Precio</h3>
        <ng5-slider [ngClass]="{show: filtersOn, hide: !filtersOn}" [(value)]="value" [(highValue)]="highValue" [options]="options" [routerLink]="['/search', busquedaSave.busqueda]" 
        [queryParams]="{minPrice: value, maxPrice: highValue, categoria1: categoria1, categoria2: categoria2, categoria3: categoria3, categoria4: categoria4,
            categoria5: categoria5, marca1: marca1, marca2: marca2, marca3: marca3, marca4: marca4, marca5: marca5 }" ></ng5-slider>
        <div class="filter-categories">
                <h3 class="titleCategory">Categorías</h3>
                <div *ngFor="let s of suggestions" [ngClass]="isSelected(s) ? 'selected-suggestion' : ''" (click)="selectSuggestion(s)">{{ s.name }}</div>
                <button class="button" [routerLink]="['/search', busquedaSave.busqueda]"
                [queryParams]="{minPrice: value, maxPrice: highValue, categoria1: categoria1, categoria2: categoria2, categoria3: categoria3, categoria4: categoria4,
                    categoria5: categoria5, marca1: marca1, marca2: marca2, marca3: marca3, marca4: marca4, marca5: marca5 }"> Filtrar Categoria</button>
        </div>
            
        <div class="filter-marcas">
            <h3 class="titleCategory">Marcas</h3>
              <div *ngFor="let s of marcas" [ngClass]="isSelected2(s) ? 'selected-suggestion' : ''" (click)="selectMarca(s)">{{ s.name }}</div>        
                <button class="button" [routerLink]="['/search', busquedaSave.busqueda]"
                [queryParams]="{minPrice: value, maxPrice: highValue, categoria1: categoria1, categoria2: categoria2, categoria3: categoria3, categoria4: categoria4,
                categoria5: categoria5, marca1: marca1, marca2: marca2, marca3: marca3, marca4: marca4, marca5: marca5 }"> Filtrar Marcas</button>
        </div>
        </div>
    </div>
    <div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="column wrap" fxLayoutAlign="space-between center" class="products" *ngFor = "let item of show" [routerLink]="['/products', item.id]">
                <li>{{item.title}}</li>
                <li><img [src]="item.thumbnailURL[0].image"></li>
                <li class="price">{{item.priceHR}}</li>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="show.length == 0">
            <div class="searchError">
                <p>Ups... Su búsqueda no coincide con ninguno de nuestros productos😅</p>
                <p routerLink="" class="errorLink">◀ ¿Quiere volver al inicio?</p>
            </div>
        </div>
    </div>
</div>